:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Montserrat Alternates", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
}


