:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Montserrat Alternates", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
}


.container {
  /* width: 100%; */
  margin: 0 auto;
  max-width: 1184px;

  @media screen and (max-width: 768px) {
    max-width: 748px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 425px) {
    max-width: 343px;
    padding-left: 0;
    padding-right: 0;
  }
}